<div class="side-nav">
<div class="main-menu-container">
    <!--template bindings={}--><div class="menu-content">
      <div class="header-section">       
       <span><i class="fa fa-microchip"></i> JavaScript-Algorithms</span>
      </div>
      <!--template bindings={}--><div class="section active">
        <a routerLink="/"><h3>Sorting Algo</h3></a>
      </div><div class="section">
        <a routerLink="/strings"><h3>Strings Sort</h3></a>
      </div><div class="section">
        <a href="#/alerts"><h3>Selection Sort</h3></a>
      </div><div class="section">
        <a href="#/buttons"><h3>Merge Sort</h3></a>
      </div><div class="section">
        <a href="#/carousel"><h3>Fibonacci Number</h3></a>
      </div><div class="section">
        <a  routerLink="/binary-tree"><h3>Binary Tree</h3></a>
      </div><div class="section">
        <a href="#/datepicker"><h3>Datepicker</h3></a>
      </div><div class="section">
        <a href="#/dropdowns"><h3>Graphs</h3></a>
      </div><div class="section">
        <a href="#/modals"><h3>Modals</h3></a>
      </div><div class="section">
        <a href="#/pagination"><h3>Pagination</h3></a>
      </div><div class="section">
        <a href="#/popover"><h3>Popover</h3></a>
      </div><div class="section">
        <a href="#/progressbar"><h3>Progressbar</h3></a>
      </div><div class="section">
        <a href="#/rating"><h3>Rating</h3></a>
      </div><div class="section">
        <a href="#/"><h3>Sortable</h3></a>
    </div>
  </div>
</div>
